@font-face {
    font-family: Pacifico;
    src: url('../fonts/Pacifico-Regular.ttf')  format("truetype"),
       local('Pacifico');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf')  format("truetype"),
       local('Roboto');
}

@font-face {
    font-family: Scada;
    src: url('../fonts/Scada-Regular.ttf')  format("truetype"),
       local('Scada');
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

header {
    z-index: 10;
}

#hello, h2, h3, .navbar-brand {
    font-family: 'Pacifico', cursive;
}

.tattoo {
    max-width: 300px;
}

#content {
    background: whitesmoke;
    /*color: rgba(84, 59, 44, 0.93);*/
}
#master, #contacts, #gallery {
    padding: 20px;
}

#hello, #gallery{
    overflow: hidden;

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hello {
    background-image: url("../images/bg-hello.jpg");
    max-width: 100vw;
    margin: 0;
}

#gallery {
    background-image: url("../images/bg-gallery.jpg");
}

.more-btn {
    border: 1px solid whitesmoke;
    opacity: 0.6;
}

.more-btn:hover {
    opacity: 0.8;
    color: antiquewhite;
    border-color: antiquewhite;
}

#photo {
    max-width: 300px;
}
#info {
    max-width: 600px
}

#master p {
    font-family: 'Scada', sans-serif;
}

.m-slider {
    width: 80vw;
    margin: 40px;
    position: relative;
}


.arrow {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99;
    border-radius: 50%;
    background-image: none;
    background: white;
    opacity: 0.7;
    color: black;
    line-height: 50px;
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.8;
    background: black;
    color: white;
}

.slick-prev {
	left: 0;
}

.slick-next {
    right: 0;
}

.modal {
}

.modal-body {
    padding: 20px;
    text-align: center;
}
#mimg {
    max-height: 70vh;
    max-width: 100%;
}

.tattoo-img, .see {
    max-height: 250px;
    margin: 10px;
    border-radius: 5px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
}

.slick-dots li{
    list-style: none;
    margin: 15px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: yellow;
}
.slick-active {
    background: white!important;
}
.slick-dots li button {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.slick-dots li:hover {
    background: #f98200;
}

.see {
    cursor: pointer;
}
.see:hover {
    background: #212529;
    border: 1px solid #212529;
}

@media only screen and (max-width: 450px) {
    .tattoo-img, .see {
        max-height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .tattoo-img, .see {
        max-height: 140px;
    }
}

@media only screen and (max-width: 1000px) {
    .tattoo-img, .see {
        max-height: 150px;
    }
}




