{% extends 'shop/layout.html' %}

{% load static %}

{% block title %}
    3a Tatoo
{% endblock %}

{% block header %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#hello" target="_self">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#master" target="_self">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery" target="_self">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts" target="_self">Contacts</a>
          </li>
        </ul>
      </div>
{% endblock %}
{% block content %}

    <div id="hello" class="">

        <div class="d-flex flex-wrap align-items-end justify-content-center content">
            <h1 class="text-light text-center">За Tatoo</h1>
        </div>

        <div class="d-flex flex-column flex-wrap  align-items-center ">

            <div class="pt-2">
                <a style="width: 68px; height: 67px; cursor: pointer;" href="#master" target="_self" data-keep-roots="true" data-anchor="cgmd" id="i985ocjglink" class="ca1link d-flex justify-content-center">
                <img id="hello-butt" alt="" data-type="image" style="width: 68px; height: 67px; object-fit: contain;" src="https://static.wixstatic.com/media/a896d9_b86ef51df8df4008b2b7b7b175559910.png/v1/fill/w_67,h_67,al_c,usm_0.66_1.00_0.01/a896d9_b86ef51df8df4008b2b7b7b175559910.png">
                </a>
            </div>

            <div class="d-flex align-items-end site-info-block">
                <p class="site-info-text text-light text-center m-5">Мы искренне считаем украшение тела искусством. Каждый наш мастер — художник со своим стилем. И ещё мы очень скрупулёзно относимся к безопасности и качеству: только одноразовые расходники, только лучшие материалы, тщательная подготовка и обучение мастеров. Дьявол в таких деталях.</p>
            </div>

        </div>
    </div>

    <div class="container">
    <div id="master" class="row">
        <div class="col-md d-flex pt-5 flex-wrap justify-content-center">
            <div id="photo" class="">
                <img class="img-thumbnail" src="{% static 'shop/images/master1.jpeg' %}" alt="">
            </div>
            <div id="info" class="px-4 text-center">
                <img id="i98gqqleimgimage" alt="" data-type="image" style="width: 169px; height: 109px; object-fit: contain;" src="https://static.wixstatic.com/media/c33e46_b8483bf05b6e43c1a953b5f0358a5052.png">
                <h2>Artist</h2>
                <h5>Firstname Lastname</h5>
                <p>Креативный тату мастер с медицинским образованием разработает для вас необычные эскизы, перебьет неудачные татуировки. Мастер работает с выездом к вам. Весь используемый материал индивидуальный.</p>
            </div>
        </div>
        <hr class="m-3">
        <div class="col-md d-flex pt-5 flex-wrap justify-content-center">
            <div id="photo" class="align-self-center">
                <img class="img-thumbnail" src="{% static 'shop/images/master2.jpg' %}" alt="">
            </div>
            <div id="info" class="px-4 text-center">
                <img id="i98gqqleimgimage" alt="" data-type="image" style="width: 169px; height: 109px; object-fit: contain;" src="https://static.wixstatic.com/media/c33e46_b8483bf05b6e43c1a953b5f0358a5052.png">
                <h2>Artist</h2>
                <h5>Firstname Lastname</h5>
                <p>Креативный тату мастер с медицинским образованием разработает для вас необычные эскизы, перебьет неудачные татуировки. Мастер работает с выездом к вам. Весь используемый материал индивидуальный.</p>
            </div>
        </div>
    </div>
    </div>

    <div id="gallery">
        <div class="d-flex flex-column align-items-center text-light">
            <img id="i9dxea4dimgimage" alt="" data-type="image" style="width: 141px; height: 89px; object-fit: contain;" src="https://static.wixstatic.com/media/c33e46_d00a503b875e424988debe92c482d1bf.png">
            <h2>Gallery</h2>
            <div class="m-slider mb-0">
                {% for t in tattooes %}
                    <img class="tattoo-img " src="{{  t.image.url }}" alt="">
                {% endfor %}
            </div>

            <div class="btn more-btn bg-dark y m-3">
                <a class="color-light" href="/gallery/">More</a>
            </div>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title text-dark" id="myModalLabel">Tattoo</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                  <div class="modal-body">
                    <img id="mimg" src="">
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>

    <div class="container">
    <div id="contacts" class="d-flex flex-column align-items-center">
        <img class="align-self-center" alt="" data-type="image" style="width: 172px; height: 108px; object-fit: contain;" src="https://static.wixstatic.com/media/c33e46_02cc20de28c640658fc4f584176ebf27.png/v1/fill/w_108,h_108,al_c,usm_0.66_1.00_0.01/c33e46_02cc20de28c640658fc4f584176ebf27.png">
        <h1 class="text-center">CONTACT US</h1>
        <h3>Contacts</h3>
        <div class="d-flex flex-wrap">
            <div class="p-3">
                <h5>Mob:</h5>
                <p class="m-0">+7 (999) 999-99-99</p>
                <p class="m-0">+7 (999) 999-99-99</p>
            </div>
            <div class="p-3">
                <h5>Available:</h5>
                <p>00:00 - 00:00</p>
            </div>
        </div>

        <h3>Opening Hours:</h3>
        <p>00:00 - 00:00</p>

        <div id="vk-btn"></div>
    </div>
    </div>

{% endblock %}