<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700|Scada" rel="stylesheet">
<script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/style.css' %}" />

{#HEADER#}

<header class="position-fixed w-100 bg-dark">
    <div class="container p-0">
    <nav class="navbar navbar-dark navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="#">3a Tatoo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#hello" target="_self">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#master" target="_self">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery" target="_self">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts" target="_self">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
</header>
{#END HEADER#}


{#CONTENT#}
<div id="content" {# class="d-flex flex-column" #}>
{% block content %}
{% endblock %}
</div>
{#END CONTENT#}


{#FOOTER#}
<footer class="text-light bg-dark">
    <h6 class="text-center p-2 m-0">© 2016 «За Tatoo»</h6>
</footer>
{#END FOOTER#}
<script src="{% static 'shop/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>