<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}{% endblock %}</title>

<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'shop/js/slick/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/style.css' %}" />

<script src="{% static 'shop/js/libs/jquery.js' %}"></script>
<script src="{% static 'shop/js/libs/jquery-migrate.js' %}"></script>


{#HEADER#}

<header class="position-fixed w-100 bg-dark">
    <div class="container p-0">
    <nav class="navbar navbar-dark navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/">3a Tatoo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        {% block header %}

        {% endblock %}

    </nav>
    </div>
</header>
{#END HEADER#}


{#CONTENT#}
<div id="content" {# class="d-flex flex-column" #}>
{% block content %}
{% endblock %}
</div>
{#END CONTENT#}


{#FOOTER#}
<footer class="text-light bg-dark">
    <h6 class="text-center p-2 m-0">© 2016 «За Tatoo»</h6>
</footer>
{#END FOOTER#}


<script src="{% static 'shop/js/libs/bootstrap.js' %}"></script>
<script src="{% static 'shop/js/slick/slick/slick.min.js' %}"></script>
<script src="{% static 'shop/js/script.js' %}"></script>